<!DOCTYPE html>
<html>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
  <head>
    <meta charset="utf8" />
    <title>day2_vue</title>
  </head>
  <body>
    <h1>Hello 精弘</h1>
    <div id="app">
      <h2>{{department}} RP : {{ count }}</h2>
      <div v-if="count < 10">rp 太低啦</div>
      <button @click="handleClick">Click me</button>
      <h2 :title="`rp: ${doubleRP}`">鼠标移到上面看双倍 RP</h2>
      <input placeholder="RP 外挂" v-model="count" />
    </div>
  </body>
  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        department: "技术部",
        count: 0,
      },
      methods: {
        handleClick() {
          this.count++;
        },
      },
      computed: {
        doubleRP() {
          return this.count * 2;
        },
      },
    });
  </script>
</html>
